.guide-demo {
  padding: 1rem;

  .input {
    width: 3rem;
  }

  .btn {
    display: block;
    margin-top: .2rem;
    width: .8rem;
    height: .3rem;
    font-size: .16rem;
    text-align: center;
  }
}