$namespace: ab-modal;
$modalFade: #{$namespace}-fade;

.#{$namespace} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: auto;
  outline: 0;

  &-title {
    position: relative;
    width: 100%;

    .#{$namespace}-times {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-content {
    position: relative;
    background-color: #fff;
    max-width: calc(100vw - .3rem);
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: transform 300ms, opacity 300ms cubic-bezier(.7, .3, .1, 1);
    z-index: 101;
  }

  &-times {
    position: absolute;
    top: .12rem;
    right: .12rem;
    font-size: .15rem;
    color: #b0b0b0;
    cursor: pointer;

    svg {
      display: block;
    }

    &:hover {
      color: #333;
    }
  }
}

@media only screen and (max-width: 767px) {
  .#{$namespace}-content {
    width: calc(100vw - .3rem);
  }
}


.#{$modalFade} {
  &-enter, &-appear {
    opacity: 0;
    transform: scale(0.6);
  }

  &-enter-active, &-appear-active {
    opacity: 1;
    transform: scale(1);
  }

  &-enter-done {
    opacity: 1;
    transform: scale(1);
  }

  &-exit {
    opacity: 1;
    transform: scale(1);
  }

  &-exit-active {
    opacity: 0;
    transform: scale(0.6);
  }

  &-exit-done {
    display: none;
  }
}