$namespace: ab-drawer;
$drawerFade: #{$namespace}-fade;

.#{$namespace} {
  position: fixed;
  z-index: 102;
  background-color: #fff;
  overflow: auto;
  transition: transform 300ms cubic-bezier(.7, .3, .1, 1);

  &-times {
    position: absolute;
    right: .17rem;
    font-size: .16rem;
    color: #b0b0b0;
    cursor: pointer;
    top: .11rem;

    &:hover {
      color: #333;
    }
  }
}