.demo-icon-list{
  padding: .2rem .16rem;
  font-size: .12rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  & > li {
    padding: .1rem;
    border: 1px solid #E0E0E0;
    margin: .05rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    min-width: .6rem;
    &:hover{
      background-color: #E0E0E0;
    }
  }
  .demo-icon-name{
    padding-top: .15rem;
  }
}