$namespace: ab-svg-loading;

.#{$namespace} {
  display: inline-block;

  &-icon {
    display: block;
    width: .31rem;
    height: .31rem;
    animation: loading 1s infinite linear reverse;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg)
    }
    50% {
      transform: rotate(180deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }
}