/* reset css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, a, textarea {
  box-sizing: border-box;
}

html {
  font-size: 100px;
  font-family: Arial, sans-serif;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

@media only screen and (max-width: 767px) {
  html {
    //font-size: 24.15459vw;
    // 暂时取消对UI自适应，而是统一成一种
    font-size: 100px;
  }
}

body {
  font-size: .12rem;
  min-width: 992px;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 992px;
  margin: 0 auto;
}

.prime .container {
  width: 1200px;
}

/* 解决有滚动条时，width:100%,并不能撑满的问题 */
body.prime {
  min-width: 1200px;
}

/* 设计者恶心之：checkout 宽度不同 */
.prime.checkout .container {
  width: 985px;
}

/* 解决有滚动条时，width:100%,并不能撑满的问题 */
body.prime.checkout {
  min-width: 985px;
}

@media only screen and (max-width: 767px) {
  .container, .prime .container, .prime.checkout .container {
    width: 100%;
    min-width: 320px;
  }
  body, body.prime, body.prime.checkout {
    min-width: auto;
  }
}