$namespace: ab-tooltip;

.#{$namespace} {
  &-wrap {
    background-clip: padding-box;
    padding: .08rem .11rem .05rem;
    min-width: 210px;
    border-radius: 4px;
    line-height: 1.4;
    border: 1px solid #906C00;
    box-shadow: 1px 1px 5px -1px #000;
    background-color: #FFFAEC;
  }

  &-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-size: .12rem;

    &-expand {
      padding-right: .1rem;
    }
  }

  &-arrow {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-style: solid;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
    background-color: #FFFAEC;
    border-right-color: #906C00;
    border-bottom-color: #906C00;
    border-width: 1px;
  }

  &-close {
    position: absolute;
    right: .02rem;
    top: .05rem;
    cursor: pointer;
    padding: 0 .05rem;
    color: #bfbfbf;
    font-size: 0.2rem;
    line-height: 1;
    z-index: 2;

    &:hover {
      color: #4A4A4A;
    }
  }
}

@media only screen and (max-width: 767px) {
  .#{$namespace}-wrap {
    width: calc(100% - .3rem);
  }
}