$namespace: ab-loading;

.#{$namespace}-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(#fff, .7);
  height: 100%;
  width: 100%;

  .#{$namespace}-content {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: .31rem;
    height: .31rem;
    transform: translate3d(-50%, -50%, 0);
  }

  &.#{$namespace}-rect-loading {
    background-color: rgba(#000, .7);

    .#{$namespace}-content {
      top: 10%;
      width: 1.6rem;
      height: .24rem;
    }
  }
}